.ourGames {
    background-color: #fff;
    z-index: 10;
}

.half-color {
    width: 100vw;
    height: 15vh;
    /* background: linear-gradient(#9e005d, white); */

}


.ourGames-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;

    padding: 25px 0px;
    /* max-width: 700px; */
    max-width: 40rem;
}