.navbar{
    position: fixed;
    z-index: 3;


    display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;
    width: 100vw;

    /* border-bottom: 0.2px solid rgba(0, 0, 0, 0.4); */
    /* background-color: blue; */
}

.navbar_left{
    padding: 0px 20px;
}

.navbar_left_content{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.navbar_left_img{
    /* width: 50px; */
    height: 50px;

    border-radius: 50%;
    /* border: 1px solid black; */

    margin-right: 15px;
}

.navbar_left_content_title{
    display: flex;
    flex-direction: column;
}
.navbar_left_content_title_top{
    font-size: 32px;
    margin-bottom: -45px;
    color: #ffd600;
}
.navbar_left_content_title_bottom {
    margin-left: 70px;
    z-index: 1;

    /* color: rgba(0, 0, 0, 0.3); */
}




.navbar_right{
    padding: 0px 15px;
}

.navbar_right_content{
    display: flex;
    flex-direction: row;
    margin-right: 30px;

    align-items: center;
}


.navbar_right_content_link{
    text-decoration: none;
    margin-right: 15px;

    font-size: 16px;

    color: white;
}



.navbar_right_content_donate{
    padding: 10px 20px;

    border: none;

    border-radius: 5px;
    margin-left: 20px;  

    cursor: pointer;

    display: flex;

    position: relative;
    z-index: 2;

    font-size: 12px;

    background-color: #ffd600;

    color: rgba(0, 0, 0, 0.7);

    cursor: pointer;
    font-weight: 600;

    overflow: hidden;

    font-weight: 800;
    
    color: #9e005d;

    transition: 0.3s;
}

.donate_thunder{
    position: absolute;
    z-index: -2;

    color: white;
    margin-left: 25px;
    margin-top: -15px;
    font-size: 48px;

    transform: rotate(30deg);

    color: #00a79e;
}


.navbar_right_content_donate:hover {
    box-shadow: 0px 0px 10px #fff;
}